* {
  margin: 0;
  --tc: #111;
  --bc: #fff;
  --hc: #384;
}

@media (prefers-color-scheme: dark) {
  * {
    --tc: #fff;
    --bc: #111;
    --hc: #fb0;
  }
}

body {
  font: 18px -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.4;
  color: var(--tc);
  background: var(--bc);
  max-width: 36em;
  margin: 0 auto;
  padding: 0 0.7em;
  text-align: justify;
}

main {
  margin-bottom: 3em;
}

a {
  text-decoration: none;
  color: var(--hc);
}

a:hover {
  text-decoration: underline;
}

h2,
br,
header,
ul {
  margin-bottom: 1em;
}

ul {
  padding-left: 1em;
}

br {
  content: " ";
  display: block;
}

/* navigation */
section,
section:target ~ section:last-of-type {
  display: none;
}

section:target,
section:last-of-type {
  display: inherit;
}
/* end navigation */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
}

nav a {
  margin-left: 0.75em;
}
