* {
  margin: 0;
  --tc: #111;
  --bc: #fff;
  --hc: #384;
}

@media (prefers-color-scheme: dark) {
  * {
    --tc: #fff;
    --bc: #111;
    --hc: #fb0;
  }
}

body {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.4;
  color: var(--tc);
  background: var(--bc);
  max-width: 42em;
  margin: 0 auto;
  padding: 1em;
}

a {
  text-decoration: none;
  color: var(--hc);
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 1em;
}
/* end header */

ul,
h2,
p,
section {
  margin-bottom: 1em;
}

ul {
  padding-inline-start: 1em;
}
