* {
  margin: 0;
  --tc: #111;
  --bc: #fff;
  --hc: #06c;
}

@media (prefers-color-scheme: dark) {
  * {
    --tc: #fff;
    --bc: #111;
    --hc: #fb0;
  }
}

body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--tc);
  background: var(--bc);
  max-width: 64em;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--hc);
  margin: 0.1em 0;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}
